.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    height: 100%;
    max-width: 100%;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    .grid__item {
        max-height: 400px;
        width: 100%;
    }
}
